/* vars for colors */
:root{
  --dark: #6d99b8;
  --darker: #1c536d;
  --light: #90e2cb;
}


* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--darker);

  width: 100%;

  text-align: center;
}

div.calculator {
  /* display: grid; */
  /* justify-content: center; */
  align-content: center;
  /* align-items: center; */
  justify-items: center;

  margin: 1% auto;

  width: 40%;

}

.display {
  grid-column: 1 / -1;
  background-color: var(--dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  /* padding: 6px; */
  border-radius: 5px;
  /* margin: 0 20px; */
  margin-bottom: 10px;


  width: 100%;
}

#result {
  font-size: 1.4rem;
  text-align: center;

  margin: 10px 0;

  width: 90%;
  height: 2rem;

  background-color: transparent;
  border: none;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  grid-gap: 1%;


  width: 100%;
  height: 12rem;
}

.buttons>button {
  background-color: rgb(122, 181, 221);
  color: black;
  /* border: none; */
  font-size: 1.2rem;
  cursor: pointer;

  height: 5rem;
}
#clear {
  grid-column: 1 / span 2;
}

#clearOne {
  grid-column: 3 / span 2;
}
/* if screen size is less than 600px */
@media screen and (max-width: 600px) {
    div.calculator {
      width: 90%;
    }
  }
  